<div class="container-fluid">
  <div class="row">
    <div class="col md-6">
      <div style="display: flex; padding: 30px">
        <p>
          <br />
          About Us <br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
          dolorem perspiciatis alias, suscipit tempore quae facilis sunt totam,
          illo repudiandae, id temporibus. Saepe ipsum dolor nostrum, laboriosam
          dignissimos non. Doloremque!
        </p>
        <div class="col md-6">
          <img src="./img/bg_simponi_login.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
